body
{
    background: url(earth.jpg);
    color: white;
}

.wrapper
{
    /* background: rgb(27, 26, 26); */
    width: 500px;
    height: 500px;
    border: 2px solid red;
    padding: 10px;
    margin: auto;
}

.chataZinas
{
    /*background: blue;*/
    border: 2px solid red;
    height: 300px;
    padding: 5px;
    overflow-y: scroll;
}